body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
    background-image: url('bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.calendar {
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0043A0;
    color: white;
    padding: 15px;
    font-size: 1.5em;
}

.calendar-header select {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-header select:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.PNButton {
    background-color: #0066CC; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.PNButton:hover {
    background-color: #004c99; 
    transform: translateY(-2px);
}

.PNButton:active {
    background-color: #003366;
    transform: translateY(0);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid #ddd;
}

.day, .date {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

.day:last-child, .date:last-child {
    border-right: none;
}

.day {
    font-weight: bold;
    background-color: #f0f0f0;
    font-size: 1.2em;
}

.date-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
    font-size: 1.1em;
    color: #666; 
}

.date.empty .date-number {
    color: #ccc;
}

.date.empty {
    background-color: #f7f7f7;
}

.date {
    min-height: 100px;
}

.event-content {
    font-size: 1em;
    text-align: center;
    background-color: #E0E0E0;
    color: #333;
    border-radius: 4px;
    display: block;
    margin-top: 20px;
}

.event-content:hover {
    background-color: #d0d0d0;
}


.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.8em;
}


body.dark-mode {
    background-color: #121212;
    color: #E0E0E0;
}

.calendar.dark-mode {
    background-color: #1E1E1E;
    border: 1px solid #444;
}

.calendar-header.dark-mode {
    background-color: #333;
    color: #E0E0E0;
}

.PNButton.dark-mode {
    background-color: #2E2E2E;
    color: #E0E0E0;
    border: none;
}

.PNButton.dark-mode:hover {
    background-color: #6a7179;
    transform: translateY(-2px);
}

.PNButton.dark-mode:active {
    background-color: #0D47A1;
    transform: translateY(0);
}

.date.dark-mode {
    background-color: #2E2E2E;
    border-color: #555;
    color: #E0E0E0;
}

.date-number {
    color: #bbb9b9; 
}

.date.empty.dark-mode .date-number {
    color: #666; 
}

.event-content.dark-mode {
    background-color: #424242;
    color: #E0E0E0;
}

.tooltip.dark-mode {
    background-color: #333;
    color: #E0E0E0;
}

/* Toggle switch for dark mode */
.toggle-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.toggle-text {
    font-size: 1em;
    color: #aaa9a9;
}

body.dark-mode .toggle-text {
    color: #E0E0E0;
}
